<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- website favicon -->
  <link rel="shortcut icon" href="../static/image/go-gym-favicon.jpg" type="image/x-icon"
    style="border-radius: 50px !important;">

  <!-- custom css link -->
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <title>GO GYM</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./index"><img src="../static/image/go-gym-favicon.jpg" alt="" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="./index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sponsors">Sponsors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact Us</a>
        </li>
      </ul>
      <!-- <div style="display: flex;">
        <h6 style="padding: 5px; margin-left: 15px;"><a href="mailto:chiragvgour@gmail.com">chiragvgour@gmail.com</a></h6>
        <h6 style="padding: 5px;"><a href="tel:7208183145">+91 720 8183 145</a></h6>
      </div> -->
      <div class="social-items">
        <h6 style="padding: 5px; margin-left: 15px;"><a href="mailto:chiragvgour@gmail.com"
            class="mail">chiragvgour@gmail.com</a></h6>
        <h6 style="padding: 5px;"><a href="tel:7208183145" class="phoneno">+91 720 8183 145</a></h6>
        <a href="#" type="_blank"><img src="../static/image/instagram.png" class="social-icon" alt="instagram"></a>
        <a href="#" type="_blank"><img src="../static/image/facebook.png" class="social-icon" alt="facebook"></a>
        <a href="#" type="_blank"><img src="../static/image/twitter.png" class="social-icon" alt="twitter"></a>
      </div>

    </div>
  </nav>
  <img src="../static/image/go-gym-bg.jpg" alt="bg-img" style="height: 80vh; width: 99vw; position: absolute;">
  <!-- <div class="success-message" id="success-message">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Success!</strong> Data has been collected successfully.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div> -->
  <div class="container">
    <div class="content">
      <h6>SHAPE YOUR BODY</h6>
      <h1> Go Gym</h1>
      <h4>When I feel tired, I just think about how great </h4>
      <h4>I will feel once I finally reach my goal.</h4>
    </div>
  </div>
  <div class="container">
    <h1 class="us">Why US</h1>
    <div class="why-us">
      <div class="card" style="width: 18rem;">
        <img src="../static/image/cycle-logo.png" class="card-img" alt="modern-equipment">
        <div class="card-body">
          <h2>LATEST EQUIPMENT</h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <span id="card1"></span>
      <div class="card" style="width: 18rem;">
        <img src="../static/image/cycle-logo.png" class="card-img" alt="modern-equipment">
        <div class="card-body">
          <h2>PROFESSIONAL TRAINER</h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <span id="card1"></span>
      <div class="card" style="width: 18rem;">
        <img src="../static/image/cycle-logo.png" class="card-img" alt="modern-equipment">
        <div class="card-body">
          <h2>HEALTHY DIET PLAN</h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <span id="card1"></span>
      <div class="card" style="width: 18rem;">
        <img src="../static/image/cycle-logo.png" class="card-img" alt="modern-equipment">
        <div class="card-body">
          <h2>UNIQUE TO NEEDS</h2>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="about" style="display: flex; margin-top: 100px;">
    <div class="content-image my-5">
      <img src="../static/image/about-img.jpg" alt="about-image"
        style="height: 440px; width: 390px;border-radius: 10px;">
    </div>
    <div class="content-text ml-3 mt-5">
      <h1>ABOUT US</h1>
      <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa officia nam neque sequi illum, dolores
        aspernatur. Tenetur quo repellendus laboriosam ducimus officia quam quis sed, enim mollitia, recusandae sit
        nihil! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa officia nam neque sequi illum, dolores
        aspernatur. Tenetur quo repellendus laboriosam ducimus officia quam quis sed, enim mollitia, recusandae sit
        nihil! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa officia nam neque sequi illum, dolores
        aspernatur. Tenetur quo repellendus laboriosam ducimus officia quam quis sed, enim mollitia, recusandae sit
        nihil! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa officia nam neque sequi illum, dolores
        aspernatur. Tenetur quo repellendus laboriosam ducimus officia quam quis sed, enim mollitia, recusandae sit
        nihil! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa officia nam neque sequi illum, dolores
        aspernatur. Tenetur quo repellendus laboriosam ducimus officia quam quis sed, enim mollitia, recusandae sit
        nihil! Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
    </div>
  </div>
  <div class="container" id="sponsors">
    <h1 class="spon-head">OUR SPONSORS</h1>
    <div class="sponsors">
      <div class="card" style="width: 18rem;">
        <a href="https://in.puma.com/in/en" type="_blank">
          <img src="../static/image/puma-logo.png" class="logo-img" alt="puma-logo">
        </a>
      </div>
      <div class="card" style="width: 18rem;">
        <a href="https://www.nike.com/in/" type="_blank">
          <img src="../static/image/nike-logo.png" class="logo-img" alt="nike-logo">
        </a>
      </div>
      <div class="card" style="width: 18rem;">
        <a href="https://www.muscleblaze.com/" type="_blank">
          <img src="../static/image/muscle-blaze-removebg-preview.png" class="logo-img" alt="muscle-blaze">
        </a>
      </div>
      <div class="card" style="width: 18rem;">
        <a href="https://dymatize.com/" target="_blank">
          <img src="../static/image/dymatize-seek-removebg-preview.png" class="logo-img" alt="dymatize-seek">
        </a>
      </div>
    </div>
  </div>
  <div class="container" id="contact">
    <h1 class="cont">CONTACT US</h1>
    <div class="contact-item mx-5">
      <div class="contact-form ml-5">
        <h1>MEMBERSHIP FORM</h1>
        <form method="post" action="./index" style="display: flex; flex-direction: column; width: 100%;">
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" name="firstname" class="form-control" id="firstname">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="text" name="lastname" class="form-control" id="lastname">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Mobile No.</label>
            <input type="tel" name="phone" class="form-control" id="phone">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" autocomplete="username" name="email" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" autocomplete="current-password" name="password" class="form-control"
              id="exampleInputPassword1">
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

        </form>
      </div>
      <div class="contact-details" id="map">
        
      </div>
    </div>
  </div>




  <footer>
    <div class="footer">
      <div class="foot-text">
        <p>© Copyright 2023 <a href="mailto:chiragvgour@gmail.com">Chirag Gour</a>. All Rights Reserved</p>
      </div>

    </div>
  </footer>

  <!-- custom JS -->
  <script src="../static/js/script.js"></script>

  <!-- for goggle map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR57A2ktG7KlOhu84paTRXMtVBN7lNQio&callback=initMap" async defer></script>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
</body>

</html>