* {
    margin: 0;
    padding: 0;
}

body {
    /* background: url('../image/go-gym-bg.jpg')center center no-repeat; */
    /* height: 100vh; */
    /* width: 100vw; */
    color: white;
    background: black !important;
}

.navbar-collapse {
    text-align: center;
}

.mail {
    color: white;
}

.mail:hover {
    color: #007bff;
    text-decoration: none;
}

.phoneno {
    color: white;
}

.phoneno:hover {
    text-decoration: none;
    color: #007bff;
}

.logo {
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50px;
}

.banner {
    height: 87vh;
    width: 100%;
    position: absolute;
}

/* .success-message{
    display: block;
    position: absolute;
    top: 30px;
}
#success-message{
    display: none;
} */
.content {
    position: relative;
    margin-top: 25%;
    color: white;
}

.us {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20%;
    margin-bottom: 3%;
}

.container h2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 25%;
    margin-bottom: 3%;
    color: #f8931f;
}

.why-us {
    display: flex;
    position: relative;
    background: #007bff;
    border-radius: 50px !important;
    /* margin-top: 18%; */
}

.card {
    font-weight: bold;
    color: black;
    background: #007bff !important;
    margin: 1px 1px 1px 1px;
    border: none !important;
    border-radius: 50px !important;
}

.card-img {
    width: 100px !important;
    height: 100px !important;
    background: transparent;
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: -10px;
    /* border: 1px solid black; */
    background: grey;
    border-radius: 50px !important;
    padding: 10px 15px 10px 15px;
}

.card-body {
    margin-top: -45px !important;
}

.card-text {
    text-align: justify;
}

.content-text {
    color: white;
    text-align: justify;
}

#about {
    display: flex;
    margin-top: 100px;
}

.about-image {
    height: 440px;
    width: 390px;
    border-radius: 10px;
}

#sponsors {
    color: white;
    margin-top: 70px;
}

.spon-head {
    text-align: center;
}

.sponsors {
    display: flex;
}

#card1 {
    border-right: 1px solid black !important;
    border-radius: 50px !important;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
}

.logo-img {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    background: transparent;
}

#contact {
    margin-top: 7%;
    margin-bottom: 5%;
}

.form-grp {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-item {
    display: flex;
    border: 1px solid white;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-radius: 50px;
}

.contact-form {
    color: white;
}

input {
    background-color: transparent !important;
    border-bottom: 1px solid white !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    color: white !important;
    border-radius: 0% !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.cont {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.contact-item {
    margin-left: 3rem;
}

.contact-form {
    margin-left: 3rem;
}

.contact-details {
    border-left: 1px solid white;
    color: white;
    margin-left: 50px;
    width: 50%;
    /* padding-left: 530px; */
}

.footer {
    display: flex;
    margin-top: 50px;
    margin-bottom: 25px;
}

.foot-text {
    margin-left: 40%;
    color: white;
}

.social-items {
    display: flex;
    margin-left: 30%;
}

.social-icon {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    padding: 3px;
}

.downup {
    margin-left: 32%;
}

#uparrow {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #000;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    /* Make it round */
}

#successMessage {
    position: absolute;
    top: 0%;
    left: 44%;
}

@media (min-width: 393px) and (max-width: 394px) {
    .social-items {
        margin-left: 26%;
    }
    #successMessage {
        top: 10%;
        left: 35%;
    }

    .us {
        margin-top: 82%;
    }

    .why-us {
        display: block;
        background: none;
    }

    .card {
        width: 23.2rem !important;
    }

    .card-img {
        margin-left: 125px;
    }

    #about {
        display: flex;
        margin-top: 0px;
    }

    .container>.ml-3 {
        margin-left: 0.4rem !important;
    }

    .about-image {
        height: 315px;
        width: 205px;
    }

    .content-text>h1 {
        font-size: 1.5rem;
    }

    .content-text>h5 {
        font-size: 50%;
    }

    #sponsors {
        margin-top: 15px;
    }

    .sponsors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sponsor-card {
        flex-basis: 46%;
        margin: 7px;
    }

    .logo-img {
        width: 160px;
        height: 160px;
        margin-left: 2px;
        background: transparent;
    }

    .contact-form {
        margin-left: 0rem;
    }

    .contact-item {
        margin-left: 0rem;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .contact-form>h1 {
        font-size: 1.5rem;
    }

    .contact-details {
        display: none;
    }

    .foot-text {
        margin-left: 22%;
    }

    .downup {
        margin-left: 17%;
    }
}

@media (min-width: 395px) and (max-width: 412px) {
    .social-items {
        margin-left: 26%;
    }
    #successMessage {
        top: 10%;
        left: 35%;
    }

    .us {
        margin-top: 82%;
    }

    .why-us {
        display: block;
        background: none;
    }

    .card {
        width: 23.2rem !important;
    }

    .card-img {
        margin-left: 125px;
    }

    #about {
        display: flex;
        margin-top: 0px;
    }

    .container>.ml-3 {
        margin-left: 0.4rem !important;
    }

    .about-image {
        height: 315px;
        width: 205px;
    }

    .content-text>h1 {
        font-size: 1.5rem;
    }

    .content-text>h5 {
        font-size: 50%;
    }

    #sponsors {
        margin-top: 15px;
    }

    .sponsors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sponsor-card {
        flex-basis: 46%;
        margin: 7px;
    }

    .logo-img {
        width: 160px;
        height: 160px;
        margin-left: 2px;
        background: transparent;
    }

    .contact-form {
        margin-left: 0rem;
    }

    .contact-item {
        margin-left: 0rem;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .contact-form>h1 {
        font-size: 1.5rem;
    }

    .contact-details {
        display: none;
    }

    .foot-text {
        margin-left: 22%;
    }

    .downup {
        margin-left: 17%;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .social-items {
        margin-left: 26%;
    }
    #successMessage {
        top: 10%;
        left: 35%;
    }

    .us {
        margin-top: 82%;
    }

    .why-us {
        display: block;
        background: none;
    }

    .card {
        width: 23.2rem !important;
    }

    .card-img {
        margin-left: 125px;
    }

    #about {
        display: flex;
        margin-top: 0px;
    }

    .container>.ml-3 {
        margin-left: 0.4rem !important;
    }

    .about-image {
        height: 315px;
        width: 205px;
    }

    .content-text>h1 {
        font-size: 1.5rem;
    }

    .content-text>h5 {
        font-size: 50%;
    }

    #sponsors {
        margin-top: 15px;
    }

    .sponsors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sponsor-card {
        flex-basis: 46%;
        margin: 7px;
    }

    .logo-img {
        width: 160px;
        height: 160px;
        margin-left: 2px;
        background: transparent;
    }

    .contact-form {
        margin-left: 0rem;
    }

    .contact-item {
        margin-left: 0rem;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .contact-form>h1 {
        font-size: 1.5rem;
    }

    .contact-details {
        display: none;
    }

    .foot-text {
        margin-left: 22%;
    }

    .downup {
        margin-left: 17%;
    }
}

@media (min-width: 413px) and (max-width: 425px) {
    .social-items {
        margin-left: 26%;
    }
    #successMessage {
        top: 10%;
        left: 35%;
    }

    .us {
        margin-top: 82%;
    }

    .why-us {
        display: block;
        background: none;
    }

    .card {
        width: 23.2rem !important;
    }

    .card-img {
        margin-left: 125px;
    }

    #about {
        display: flex;
        margin-top: 0px;
    }

    .container>.ml-3 {
        margin-left: 0.4rem !important;
    }

    .about-image {
        height: 315px;
        width: 205px;
    }

    .content-text>h1 {
        font-size: 1.5rem;
    }

    .content-text>h5 {
        font-size: 50%;
    }

    #sponsors {
        margin-top: 15px;
    }

    .sponsors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sponsor-card {
        flex-basis: 46%;
        margin: 7px;
    }

    .logo-img {
        width: 160px;
        height: 160px;
        margin-left: 2px;
        background: transparent;
    }

    .contact-form {
        margin-left: 0rem;
    }

    .contact-item {
        margin-left: 0rem;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .contact-form>h1 {
        font-size: 1.5rem;
    }

    .contact-details {
        display: none;
    }

    .foot-text {
        margin-left: 22%;
    }

    .downup {
        margin-left: 17%;
    }
}

@media (min-width: 426px) and (max-width: 470px) {
    .social-items {
        margin-left: 26%;
    }
    #successMessage {
        top: 10%;
        left: 35%;
    }

    .us {
        margin-top: 82%;
    }

    .why-us {
        display: block;
        background: none;
    }

    .card {
        width: 23.2rem !important;
    }

    .card-img {
        margin-left: 125px;
    }

    #about {
        display: flex;
        margin-top: 0px;
    }

    .container>.ml-3 {
        margin-left: 0.4rem !important;
    }

    .about-image {
        height: 315px;
        width: 205px;
    }

    .content-text>h1 {
        font-size: 1.5rem;
    }

    .content-text>h5 {
        font-size: 50%;
    }

    #sponsors {
        margin-top: 15px;
    }

    .sponsors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sponsor-card {
        flex-basis: 46%;
        margin: 7px;
    }

    .logo-img {
        width: 160px;
        height: 160px;
        margin-left: 2px;
        background: transparent;
    }

    .contact-form {
        margin-left: 0rem;
    }

    .contact-item {
        margin-left: 0rem;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .contact-form>h1 {
        font-size: 1.5rem;
    }

    .contact-details {
        display: none;
    }

    .foot-text {
        margin-left: 22%;
    }

    .downup {
        margin-left: 17%;
    }
}